<ul class="list-group">
    <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>

    {% if salary %}
        <li class="list-group-item"><strong>Gross Salary:</strong> ₦{{ salary.amount }}</li>
        <li class="list-group-item"><strong>Current Loan:</strong> ₦{{ salary.loan }}</li>
        <li class="list-group-item"><strong>Balance/{{ salary.payment_for }}:</strong> ₦{{ salary.balance }}</li>
    {% else %}
        <li class="list-group-item"><em>No salary assigned yet.</em></li>
    {% endif %}

    <li class="list-group-item"><strong>Address:</strong> {{ user.address }}</li>
    <li class="list-group-item"><strong>Next of Kin:</strong> {{ user.next_of_kin }}</li>
    <li class="list-group-item"><strong>Next of Kin phone number:</strong> {{ user.next_of_kin_contact }}</li>
</ul>
